:root {
    --black: #000000;
    --dark-gray-4: #434343;
    --dark-gray-3: #666666;
    --dark-gray-2: #999999;
    --dark-gray-1: #b7b7b7;
    --gray: #cccccc;
    --light-gray-1: #d9d9d9;
    --light-gray-2: #efefef;
    --light-gray-3: #f3f3f3;
    --white: #ffffff;
    --red-berry: #980000;
    --light-red-berry-3: #e6b8af;
    --light-red-berry-2: #dd7e6b;
    --light-red-berry-1: #cc4125;
    --dark-red-berry-1: #a61c00;
    --dark-red-berry-2: #85200c;
    --dark-red-berry-3: #5b0f00;
    --red: #ff0000;
    --light-red-3: #f4cccc;
    --light-red-2: #ea9999;
    --light-red-1: #e06666;
    --dark-red-1: #cc0000;
    --dark-red-2: #990000;
    --dark-red-3: #660000;
    --orange: #ff9900;
    --light-orange-3: #fce5cd;
    --light-orange-2: #f9cb9c;
    --light-orange-1: #f6b26b;
    --dark-orange-1: #e69138;
    --dark-orange-2: #b45f06;
    --dark-orange-3: #783f04;
    --yellow: #ffff00;
    --light-yellow-3: #fff2cc;
    --light-yellow-2: #ffe599;
    --light-yellow-1: #ffd966;
    --dark-yellow-1: #f1c232;
    --dark-yellow-2: #bf9000;
    --dark-yellow-3: #7f6000;
    --green: #00ff00;
    --light-green-3: #d9ead3;
    --light-green-2: #b6d7a8;
    --light-green-1: #93c47d;
    --dark-green-1: #6aa84f;
    --dark-green-2: #38761d;
    --dark-green-3: #274e13;
    --cyan: #00ffff;
    --light-cyan-3: #d0e0e3;
    --light-cyan-2: #a2c4c9;
    --light-cyan-1: #76a5af;
    --dark-cyan-1: #45818e;
    --dark-cyan-2: #134f5c;
    --dark-cyan-3: #0c343d;
    --corn-flower-blue: #4a86e8;
    --light-corn-flower-blue-3: #c9daf8;
    --light-corn-flower-blue-2: #a4c2f4;
    --light-corn-flower-blue-1: #6d9eeb;
    --dark-corn-flower-blue-1: #3c78d8;
    --dark-corn-flower-blue-2: #1155cc;
    --dark-corn-flower-blue-3: #1c4587;
    --blue: #0000ff;
    --light-blue-3: #cfe2f3;
    --light-blue-2: #9fc5e8;
    --light-blue-1: #6fa8dc;
    --dark-blue-1: #3d85c6;
    --dark-blue-2: #0b5394;
    --dark-blue-3: #073763;
    --purple: #9900ff;
    --light-purple-3: #d9d2e9;
    --light-purple-2: #b4a7d6;
    --light-purple-1: #8e7cc3;
    --dark-purple-1: #674ea7;
    --dark-purple-2: #351c75;
    --dark-purple-3: #20124d;
    --magenta: #ff00ff;
    --light-magenta-3: #ead1dc;
    --light-magenta-2: #d5a6bd;
    --light-magenta-1: #c27ba0;
    --dark-magenta-1: #a64d79;
    --dark-magenta-2: #741b47;
    --dark-magenta-3: #4c1130;
}
